*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.sidebar-main{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    
}

.sidebar-logo{
    width: 80.39px;
   height: 54px;
   background-image: url(../images/logo1.png);
   position: absolute;
   top: 31px;
   left: 80px;
   
}


.sidebar-content{
    position: absolute;
    top: 90px;

}

.sidebar-content{
    
    width: 80%;
     margin: auto;
     justify-content: center;
     justify-content: space-between;
    
    height: 100vh;
    position: absolute;
    left: 15%;
   
    
    
}

.sidebar-main-content{
  
    line-height: 45px;
    font-family: 'Jost', sans-serif;
     font-weight: 400;
     color: #575757; 
   
     font-size: 16px;
    
   
}


.noBorder{
     width: 170px;
     border-style: none;
     font-family: 'Jost', sans-serif;
     font-weight: 400;
     color: #575757; 
   
     font-size: 16px;
}

 

 

 

